{% extends 'admin/base_site.html' %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

{% endblock %}

{% block footer %}
    {% csrf_token %}
    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const evtSource = new EventSource("/api/v1/toast/stream/");
        evtSource.addEventListener("toast", function(event) {
            const toasts = JSON.parse(event.data);
            let ids = [];
            toasts.forEach(toast => {
                if (!ids.includes(toast.id)) {
                    ids.push(toast.id);
                }
                const notyf = new Notyf({duration: 0, dismissible: true});
                const notification = notyf.success(toast.message);
                notification.on('dismiss', ({target, event}) => {
                    // target: the notification being clicked
                    // event: the mouseevent
                    const request = new Request(
                        `/api/v1/toast/${toast.id}/read/`,
                        {headers: {'X-CSRFToken': csrftoken}}
                    );
                    ids = ids.filter(id => id !== toast.id);
                    fetch(request, {method: 'POST'});
                });
            })
        });
    </script>
{% endblock %}